*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/a.log
/.idea/gradle.xml
/.idea/misc.xml
/replay_pid9272.log
/replay_pid20692.log
/replay_pid21860.log
/.idea/vcs.xml
